version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: ApiTwitterUala/Dockerfile
    image: apitwitteruala:latest
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_URLS=http://+:80
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
    restart: unless-stopped